style.
  .alert{
    margin-bottom: 0px !important;
    padding: 5px !important;
    font-size:0.85em;

  }
//- .panel.panel-default
//-   .panel-heading Calificar Venta
.modal-header Calificar Venta
  i.fa.fa-times(style='float:right; cursor:pointer' ng-click='Cancelar()')

.modal-body(style='padding-bottom:0px')
  form.form-horizontal(style='margin-bottom:0px')
    //- concretar transaccion
    .form-group
      label.col-md-4.control-label ¿Se concretó la transacción?
      .col-md-4
        select.form-control(ng-model='EstadoCompraVendedor')
          option(value='1') Concretado
          option(value='2') No concretado
    //- calificar cliente
    .form-group
      label.col-md-4.control-label Califica al Cliente
      .col-md-4
        select.form-control(ng-model='CalificaVendedor')
          option(value='1') Malo
          option(value='2') Neutral
          option(value='3') Bueno
    //- comentarios sobre el cliente
    .form-group
      label.col-md-4.control-label Comentario sobre la transacción
      .col-md-8
        textarea#textarea.form-control(ng-model='comentarioVendedor') 
    //- Estado de publicacion
    .form-group
      label.col-md-4.control-label Estado de Publicación
      .col-md-4
        select.form-control(ng-model='EstadoPublicacion')
          option(value='1') Mantener abierta
          option(value='0') Pausar Publicación
          option(value='2') Cerrar Publicación
    
    .form-group
      .col-md-12
        uib-alert(type='success' ng-show='EstadoPublicacion==1') Otros clientes podrán ver y comprar tu producto.
        uib-alert(ng-show='EstadoPublicacion==0') Todas las otras compras se marcarán como "No Concretadas", se registrará una claificación neutral al cliente y se pausará la publicación, podrá republicarlo después.
        uib-alert(type='danger' ng-show='EstadoPublicacion==2') Todas las otras compras se marcarán como "No Concretadas", se registrará una claificación neutral al cliente y se cerrará la publicación.

.modal-footer
  button#button1id.btn.btn-primary(ng-disabled="EstadoCompraVendedor==undefined || EstadoCompraVendedor=='' || CalificaVendedor==undefined || CalificaVendedor=='' || comentarioVendedor ==undefined || comentarioVendedor =='' || EstadoPublicacion==undefined || EstadoPublicacion==''" ng-click='Registrar()') Registrate!