style.
  body {
    background-image: url(img/bg.png)
  }
  table{
    font-size:14px !important;
  }

  .avatar {
    box-shadow: 0px 0px 10px 5px #ccc;
    border-radius: 10px;
    margin-bottom: 30px;
    max-width: 100%;
  }

  .form-group{
    margin-bottom: 0px !important
  }

.modal-header
  h3.modal-title Información de Usuario
    i.glyphicon.glyphicon-remove(ng-click="Cancelar()" style='float:right; font-size:12px; cursor:pointer')

.modal-body
  .panel.panel-default
    .panel-heading
      | Datos de la Cuenta    
    .panel-body
      .col-md-4.text-center
        img.avatar(ng-src="http://graph.facebook.com/{{Datos.FBCod}}/picture?type=large")

      .col-md-8
        form.form-horizontal
          .form-group
            label.col-md-3.col-xs-3.col-sm-3.control-label Usuario
            .col-md-9
              label.control-label(style='font-weight:normal')  {{Datos.Usuario}}
          
          .form-group
            label.col-md-3.col-xs-3.col-sm-3.control-label Nombre
            .col-md-9
              label.control-label(style='font-weight:normal')  {{Datos.Nombre}}

          .form-group
            label.col-md-3.col-xs-3.col-sm-3.control-label Genero
            .col-md-9
              label.control-label(style='font-weight:normal')  {{Datos.Genero}}

          .form-group
            label.col-md-3.col-xs-3.col-sm-3.control-label Email
            .col-md-9
              label.control-label(style='font-weight:normal')  {{Datos.Email}}

          .form-group
            label.col-md-3.col-xs-3.col-sm-3.control-label Teléfono
            .col-md-9
              label.control-label(style='font-weight:normal')  {{Datos.Telefono}}
          .form-group
            label.col-md-3.col-xs-3.col-sm-3.control-label Dirección
            .col-md-9
              label.control-label(style='font-weight:normal')  {{Datos.Direccion}}

  .panel.panel-default
    .panel-heading
      | Reputación
    .panel-body
      nvd3(options='options', data='DataReputacion')
      span Total calificaciones: {{Total}}
      .progress              
        .progress-bar.progress-bar-danger.progress-bar-striped.active(role='progressbar', aria-valuenow='{{rating.Negativo}}', aria-valuemin='0', aria-valuemax='100', style='width: {{rating.Negativo}}%;') {{rating.Negativo}}%
        .progress-bar.progress-bar-warning.progress-bar-striped.active(role='progressbar', aria-valuenow='{{rating.Neutro}}', aria-valuemin='0', aria-valuemax='100', style='width: {{rating.Neutro}}%;') {{rating.Neutro}}%
        .progress-bar.progress-bar-success.progress-bar-striped.active(role='progressbar', aria-valuenow='{{rating.Positivo}}', aria-valuemin='0', aria-valuemax='100', style='width: {{rating.Positivo}}%;') {{rating.Positivo}}% 
  p.text-center
    button.btn.btn-success(ng-click='ok()')
      i.glyphicon.glyphicon-star
      | Ver Detalle de Calificación
