
<style>
  .alert{
    margin-bottom: 0px !important;
    padding: 5px !important;
    font-size:0.85em;
  
  }
</style>
<div class="modal-header">Calificar Compra<i style="float:right; cursor:pointer" ng-click="Cancelar()" class="fa fa-times"></i></div>
<div style="padding-bottom:0px" class="modal-body">
  <form style="margin-bottom:0px" class="form-horizontal">
    <div class="form-group">
      <label class="col-md-4 control-label">¿Se concretó la transacción?</label>
      <div class="col-md-4">
        <select ng-model="EstadoCompraComprador" class="form-control">
          <option value="1">Concretado</option>
          <option value="2">No concretado</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label">Califica al Cliente</label>
      <div class="col-md-4">
        <select ng-model="CalificaComprador" class="form-control">
          <option value="1">Malo</option>
          <option value="2">Neutral</option>
          <option value="3">Bueno</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label">Comentario sobre la transacción</label>
      <div class="col-md-8">
        <textarea id="textarea" ng-model="comentarioComprador" class="form-control"> </textarea>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button id="button1id" ng-disabled="EstadoCompraComprador==undefined || EstadoCompraComprador=='' || CalificaComprador==undefined || CalificaComprador=='' || comentarioComprador ==undefined || comentarioComprador ==''" ng-click="Registrar()" class="btn btn-primary">Calificar!</button>
</div>