
<style>
  body {
    background-image: url(img/bg.png)
  }
  
  @media (max-width: 768px) {
    .margen {
      margin: 5px !important;
    }
  }
  @media (min-width: 768px) {
    .margen {
      margin: 5px !important;
    }
  }
  @media (min-width: 992px){
    .margen {
      margin: 0px 50px !important;
    }
  }
  @media (min-width:  992px) {
    .margen {
      margin: 0px 50px !important;
    }
  }
  
  p { margin:0px !important; }
  
  .Filtro{
    background: #f4f4f4;
    font-size: 12px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
  
  dl {font-weight: bold;}
  dt {font-weight:normal}
  dt * {font-weight:normal}
  em {font-style:normal; font-size:11px; color:#666}
    
  .titulo{
    font-size: 16px;
    line-height: 22px;
  }
  
  .precio{
    color: #900;
    font-size: 16px;
    font-weight: bold;
    text-align:right;
  }
  
  .imagen{
    width: 90px;
    max-height: 90px;
    background: #f4f4f4;
    display: block;
    border-radius: 5px;
    border: 1px solid #c
  }
  .imagen:hover{
    box-shadow: 0px 0px 10px #c3c3c3;
  }
  
</style>
<div ng-show="Resultado.length&gt;0" class="container-fluid">
  <div class="row margen">
    <div class="col-md-2"><a href="#" ng-click="$event.preventDefault(); verFiltro=!verFiltro;" style="display:block; margin-bottom: 5px" class="btn btn-default btn-xs">Filtro</a>
      <div uib-collapse="verFiltro" class="col-md-12 Filtro">
        <dl class="bold">Categorías
          <dt ng-show="Filtro.Cat!=0">{{Categorias[0].Categoria}} <em>({{Categorias[0].Cantidad}})</em><a href="#/search/Cat={{0}}&amp;Est={{Filtro.Est}}&amp;Min={{Filtro.Min}}&amp;Max={{Filtro.Max}}&amp;Key={{Filtro.Key}}&amp;Ord={{Filtro.Ord}}&amp;Pag=1"><i class="fa fa-times"></i></a></dt>
          <dt ng-repeat="item in Categorias" ng-show="Filtro.Cat==0"><a href="#/search/Cat={{item.Id}}&amp;Est={{Filtro.Est}}&amp;Min={{Filtro.Min}}&amp;Max={{Filtro.Max}}&amp;Key={{Filtro.Key}}&amp;Ord={{Filtro.Ord}}&amp;Pag=1">{{item.Categoria}} </a><em>({{item.Cantidad}})</em></dt>
        </dl>
        <dl class="bold">Estado
          <dt ng-show="Filtro.Est!=0">{{Estado[0].Estado}} <em>({{Estado[0].Cantidad}})</em><a href="#/search/Cat={{Filtro.Cat}}&amp;Est=0&amp;Min={{Filtro.Min}}&amp;Max={{Filtro.Max}}&amp;Key={{Filtro.Key}}&amp;Ord={{Filtro.Ord}}&amp;Pag=1"><i class="fa fa-times"></i></a></dt>
          <dt ng-repeat="item in Estado" ng-show="Filtro.Est==0"><a href="#/search/Cat={{Filtro.Cat}}&amp;Est={{item.Id}}&amp;Min={{Filtro.Min}}&amp;Max={{Filtro.Max}}&amp;Key={{Filtro.Key}}&amp;Ord={{Filtro.Ord}}&amp;Pag=1">{{item.Estado}} </a><em>({{item.Cantidad}})</em></dt>
        </dl>
        <dl class="bold">Rango de Precios</dl>
        <dt ng-show="Filtro.Min!=0 &amp;&amp; Filtro.Max!=0">{{Rango[0].Rango}} <em>({{Rango[0].Cantidad}})</em><a href="#/search/Cat={{Filtro.Cat}}&amp;Est={{Filtro.Est}}&amp;Min=0&amp;Max=0&amp;Key={{Filtro.Key}}&amp;Ord={{Filtro.Ord}}&amp;Pag=1"><i class="fa fa-times"></i></a></dt>
        <dt ng-repeat="item in Rango" ng-show="Filtro.Min==0 &amp;&amp; Filtro.Max==0"><a href="#/search/Cat={{Filtro.Cat}}&amp;Est={{Filtro.Est}}&amp;Min={{item.Min}}&amp;Max={{item.Max}}&amp;Key={{Filtro.Key}}&amp;Ord={{Filtro.Ord}}&amp;Pag=1" ng-show="item.Cantidad!=0">{{item.Rango}} </a><em ng-show="item.Cantidad!=0">({{item.Cantidad}})</em></dt>
      </div>
    </div>
    <div class="col-md-10">
      <div style="background:#fff;border-radius:3px; margin-bottom:10px; padding:10px; border:1px solid #ddd" class="col-md-11">       
        <div class="col-md-6"><span ng-show="Filtro.Cat!=0">> {{Categorias[0].Categoria}} </span><span ng-show="Filtro.Est!=0">> {{Estado[0].Estado}} </span><span ng-show="Filtro.Min!=0 &amp;&amp; Filtro.Max!=0">> {{Rango[0].Rango}} </span><span>> {{Filtro.Key}}</span></div>
        <div class="col-md-6 text-right">Artículos {{Resultado.length}} | Ordenar por: 
          <div uib-dropdown="" class="btn-group">
            <button type="button" uib-dropdown-toggle="" class="btn btn-default btn-xs"><span ng-show="Filtro.Ord==1">Menor Precio </span><span ng-show="Filtro.Ord==2">Mayor Precio </span><span class="caret"></span></button>
            <ul uib-dropdown-menu="" role="menu" aria-labelledby="single-button">
              <li role="menuitem"><a href="#/search/Cat={{Filtro.Cat}}&amp;Est={{Filtro.Est}}&amp;Min={{Filtro.Min}}&amp;Max={{Filtro.Max}}&amp;Key={{Filtro.Key}}&amp;Ord=1&amp;Pag=1">Menor Precio</a></li>
              <li role="menuitem"><a href="#/search/Cat={{Filtro.Cat}}&amp;Est={{Filtro.Est}}&amp;Min={{Filtro.Min}}&amp;Max={{Filtro.Max}}&amp;Key={{Filtro.Key}}&amp;Ord=2&amp;Pag=1">Mayor Precio</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div style="background:#fff;border-radius:5px; border:1px solid #ddd" class="col-md-11">
        <div ng-repeat="item in Resultado" style="border-bottom:1px solid #ddd; margin-left:0px; padding: 7px 0px" class="row col-md-12">
          <div class="col-md-2 text-center col-xs-6 col-sm-6"><a href="#/ver_pub/{{item.Id}}" class="imagen"><img ng-src="img/publicaciones/{{item.Id}}/min/1" style="max-width:90px; max-height:90px;"/></a></div>
          <div class="col-md-8 hidden-xs hidden-sm"><a href="#/ver_pub/{{item.Id}}" class="titulo">{{item.Titulo}}</a></div>
          <div class="col-md-2 col-xs-6 col-sm-6"><a href="#/ver_pub/{{item.Id}}" class="titulo visible-xs visible-sm">{{item.Titulo}}</a>
            <div class="precio">{{item.Precio}}</div>
            <p style="font-size:14px; text-align:right">{{item.Estado}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="sinr" ng-show="Resultado.length==0 &amp;&amp; Resultado!=undefined" style="margin:0px; padding:0px" class="container-fluid">
  <div style="margin:0px; padding:0px" class="row col-md-10 col-md-offset-1"></div>
  <div style="position:absolute; width:100%; text-align:center; z-index:2"><img src="img/error.png" id="avatar" style="margin-top:80px" uib-popover="Estos no son los productos que estás buscando..." popover-is-open="true"/>
    <div style="text-align:center">      </div>
  </div><img src="img/fondo.jpg" width="100%" style="position:relative; top:-20px; height:100%"/>
  <div style="margin: 0px; padding:0px; position: absolute; top: 390px;" class="row">
    <div ng-controller="homeCtrl" class="col-lg-6 col-sm-10 col-lg-offset-3 col-sm-offset-1">
      <form ng-submit="Encontrar(criterio)">
        <div class="input-group">
          <input id="criterio" type="text" placeholder="prueba otra palabra" ng-model="criterio" class="form-control"/><span class="input-group-btn">
            <button type="button" ng-click="Encontrar(criterio)" class="btn btn-primary">Buscar!</button></span>
        </div>
      </form>
    </div>
  </div>
</div>