.container-fluid
  .row.col-md-offset-1.col-md-10
    .panel.panel-default
      .panel-heading(style='text-align:center') Publicación concluida con éxito
      .panel-body(style='text-align:center')
        p Su publicación ha sido registrada, haga click <a href='/#'> aqui </a> para volver al inicio.